%section
  .row
    .small-10.columns.small-centered
      %h2 Resend confirmation instructions

      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!

        .row
          .small-12.columns
            .field
              %div= f.label :email
              %div= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

        .row
          .small-4.columns
            .actions
              = f.submit "Resend confirmation instructions", class: 'button'
          .small-8.columns.clearfix
            .float-right
              = render "devise/shared/links"
