%section
  .row
    .small-12.columns
      %h2= I18n.t(:title, scope:[:meetings, :show], name: @gathering.name)
      %h3= @meeting.datetime.to_formatted_s(:gathering)
      = render partial: 'shared/spacer'

      .row
        .small-12.columns
          - @gathering.members.each do |member|
            .row
              .small-2.columns.end
                - attendance_record = @meeting.attendance_records.for_member(member).take
                - if attendance_record.present? && attendance_record.attended
                  = button_to "Absent? #{member.abbreviated_name}", attendance_record_path(attendance_record, absent: true), method: :patch, class: 'button small expanded secondary'
                - else
                  = button_to "Present? #{member.abbreviated_name}", attendance_record_path(attendance_record, present: true), method: :patch, class: 'button small expanded'

      = render partial: 'shared/spacer'
      .row
        - prior_meeting = @gathering.prior_meeting(@meeting.datetime)
        - next_meeting = @gathering.next_meeting(@meeting.datetime.end_of_day)
        .small-2.columns
          .actions
            = button_to "Prior Meeting", gathering_meetings_path(@gathering, on: prior_meeting.to_s(:date)), method: :post, class: 'button small expanded'
        .small-2.columns
          .actions
            - if next_meeting > DateTime.current.end_of_day
              = button_to "Next Meeting", gathering_meetings_path(@gathering, on: next_meeting.to_s(:date)), method: :post, disabled: true, class: 'button small expanded'
            -else
              = button_to "Next Meeting", gathering_meetings_path(@gathering, on: next_meeting.to_s(:date)), method: :post, class: 'button small expanded'
        .small-2.columns
          .actions
            = link_to t(:show, scope:[:common]), gathering_path(@gathering), class: 'button small', style: 'width: 100%'
        .small-10.columns.end
          .float-right
            = link_to t(:title, scope:[:gatherings]), community_gatherings_path(@community)
