%section
  .row
    .small-12.columns
      %h2= t(:title, scope: [:communities, :show], name: @community.name)

      = render partial: 'shared/spacer'
      .row
        .small-12.small-centered.columns
          %h4= "Gatherings"
      .row
        .small-12.small-centered.columns
          - @community.gatherings.each do |g|
            .row
              .small-10.columns
                = link_to g.name, community_gathering_url(@community, g)

      = render partial: 'shared/spacer'
      .row
        .small-3.columns
          = link_to t(:title, scope:[:gatherings, :new]), community_gathering_step_url(@community, mode: :create), class: 'button small radius', style: 'width: 100%'
        .small-3.columns
          = link_to t(:title_html, scope: [:welcome, :signup]), welcome_signup_url, class: 'button small radius', style: 'width: 100%'
        .small-3.columns
          = link_to t(:button, scope:[:communities, :report]), community_report_url(@community), class: 'button small radius', style: 'width: 100%'
        .small-3.columns
          .float-right
            = link_to t(:edit, scope: [:common]), edit_community_path(@community)
            &nbsp; | &nbsp;
            = link_to t(:title, scope: [:communities]), communities_path
