%section
  .row
    .small-10.columns.small-centered
      %h2 Change your password

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token

        .row
          .small-12.columns
            .field
              %div= f.label :password, "New password (#{@minimum_password_length} characters minimum)"
              %div= f.password_field :password, autofocus: true, autocomplete: "off"

        .row
          .small-12.columns
            .field
              %div= f.label :password_confirmation, "Confirm new password"
              %div= f.password_field :password_confirmation, autocomplete: "off"

        .row
          .small-4.columns
            .actions
              = f.submit "Change my password", class: 'button'
          .small-8.columns.clearfix
            .right
              = render "devise/shared/links"
