%section
  .row
    .small-10.columns.small-centered
      %h2 Forgot your password?

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!

        .row
          .small-12.columns
            .field
              %div= f.label :email
              %div= f.email_field :email, autofocus: true

        .row
          .small-4.columns
            .actions
              = f.submit "Send me reset password instructions", class: 'button'
          .small-8.columns.clearfix
            .float-right
              = render "devise/shared/links"
