%section
  .row
    .small-10.columns.small-centered
      %h2 Log in to theGatherings

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row
          .small-12.columns
            .field
              %div= f.label :email
              %div= f.email_field :email, autofocus: true

        .row
          .small-12.columns
            .field
              %div= f.label :password
              %div= f.password_field :password, autocomplete: "off"

            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :remember_me

        .row
          .small-2.columns
            .actions
              = f.submit "Log in", class: 'button small radius'
          .small-10.columns.clearfix
            .float-right
              = render "devise/shared/links"

        .row
          .small-12.columns
            = devise_error_messages!
