%footer
  %hr
  .row
    .small-10.small-centered.columns
      .row
        .small-3.small-centered.columns.text-center.dark-gray
          .logo=I18n.t(:application, scope: [:common])
      .row
        .small-2.columns.size-14
          .footer-label= I18n.t(:application, scope: [:common])
          %ul.no-bullet
            %li= link_to "About", "#"
            %li= link_to "Donate", "#"
            %li= link_to "Privacy Policy", "#"
        .small-2.small-offset-1.columns.size-14
          .footer-label Social
          %ul.no-bullet
            %li= link_to "Facebook", "#"
            %li= link_to "Twitter", "#"
        .small-3.small-offset-4.columns.size-12.dark-gray
          %p= icon('copyright', 'Copyright theGatherings')
