%header
  .top-bar
    .top-bar-title.dark-gray
      = link_to I18n.t(:application, scope: [:common]), :member_root
    .top-bar-right.size-16.dark-gray
      %ul.menu
        - if member_signed_in?
          %li
            = link_to member_root_path do
              = icon('far', 'home')
              = "Welcome #{current_member.first_name}"
          %li
            = link_to show_member_registration_path do
              =icon('far', 'user')
              %span.size-12= 'Account'
          %li
            = link_to destroy_member_session_path, method: :delete do
              =icon('far', 'sign-out')
              %span.size-12= 'Sign Out'
        - else
          %li
            = link_to show_member_registration_path do
              =icon('far', 'user-plus')
              %span.size-12= 'Become a Member'

