- matrix, columns, column_width = matrix_layout(tags.length, 2, 4, 12)
- matrix.each do |m|
  .row
    - slice = m.map{|i| tags[i]}
    - id = "#{resource.class.to_s.underscore}_tags_#{tag_set}_"
    - name = "#{resource.class.to_s.underscore}[tags][#{tag_set}][]"
    - if slice.length <= 1
      .columns.text-center.card{class: "small-#{column_width}"}
        = '&nbsp;'.html_safe
    - slice.each_with_index do |tag, i|
      .columns.text-center.card{class: "small-#{column_width}"}
        - selected = resource.has_tag?(tag)
        .field.radius.button{data: {card: 'card'}, class: selected ? 'success' : 'secondary'}
          - t = id + i.to_s
          = label_tag t, style: 'text-align:center' do
            %input{id: t, value: tag.id, checked: selected, name: name, type: 'checkbox', class: 'hide'}
            = tag.name
    - if slice.length < columns
      .columns.text-center.card.end{class: "small-#{column_width}"}
        = '&nbsp;'.html_safe

= render template: 'shared/bind_cards'
