%section
  .row
    .small-5.columns.small-centered
      %h1.text-center= I18n.t :application, scope: [:common]
  = render 'shared/spacer'
  .row
    .small-10.columns.small-centered
      .row
        .small-5.columns
          %h3= I18n.t :tagline, scope: [:common]
          %p= I18n.t :promo, scope: [:common]
        .small-7.columns
          .text-center
            - if member_signed_in?
              = link_to I18n.t(:find, scope: [:welcome]), communities_path, class: 'button radius'
            - else
              = link_to I18n.t(:join, scope: [:welcome]), new_member_registration_path, class: 'button radius'
          .text-center
            - unless member_signed_in?
              = link_to "#{I18n.t :disjunction, scope: [:common]} #{I18n.t :signin, scope: [:common]}", new_member_session_path, class: 'button tiny radius secondary'
      .row
        .small-6.columns
          = render 'shared/notice'
        .small-6.columns
