%section
  .row
    .small-12.columns
      %h2= t(:title_html, scope: [:welcome, @sequence_step])
      = render partial: 'shared/spacer'
      = form_for(@welcome, as: :member, url: welcome_complete_signup_step_url(@welcome), method: :patch) do |f|
        .row
          .small-10.small-centered.columns
            = render partial: 'shared/collection', locals: {form: f, resource_member: @collection_member, resource_list: @welcome.send(@collection_member), collection: @collection}

        = render partial: 'shared/spacer'
        .row
          .small-2.columns
            .actions
              = link_to t(:previous, scope: [:common]), welcome_signup_step_url(@welcome, back: true), class: 'button small radius', style: 'width:100%;'
          .small-2.columns.end
            .actions
              = f.submit t(:next, scope: [:common]), class: 'button small radius', style: 'width:100%;'

        = render partial: 'shared/errors', locals: {resource: @welcome}
