= form_for @gathering, url: url do |f|
  .row
    .small-10.small-centered.columns
      %fieldset
        .row
          .small-12.columns
            .field
              = f.label Gathering.human_attribute_name :name
              = f.text_field :name, autofocus: true
        .row
          .small-12.columns
            .fields
              = f.label Gathering.human_attribute_name :description
              = f.text_area :description

  = render 'shared/spacer'
  .row
    .small-10.small-centered.columns
      %fieldset
        .row
          .small-3.columns
            .row
              .small-8.columns
                .field
                  = f.collection_select :meeting_day, Gathering.meeting_days, :last, :first
              .small-4.text-center.columns.end
                %p= t(:at, scope: [:common])
          .small-4.columns
            .row
              .small-6.columns
                .field
                  = f.select :meeting_time, options_for_select(meeting_times, f.object.meeting_time)
              .small-6.text-center.columns
                %p= "#{t(:conjunction, scope: [:common])} #{t(:last, scope: [:common])}"
          .small-3.columns.end
            .row
              .small-4.columns
                .field
                  = f.collection_select :meeting_duration, Gathering.meeting_durations, :last, :first
              .small-4.columns.end
                %p= t(:minutes, scope: [:common])
        .row
          .small-4.columns
            .field
              = f.label Gathering.human_attribute_name :meeting_starts
              = f.text_field :meeting_starts, data: {datefield: true}
          .small-4.columns.end
            .field
              = f.label Gathering.human_attribute_name :meeting_ends
              = f.text_field :meeting_ends, data: {datefield: true}

      %fieldset
        = render partial: 'shared/addressed', locals: {form: f, resource: @gathering}

  = render 'shared/spacer'
  .row
    .small-2.columns
      .actions
        = link_to t(:cancel, scope: [:common]), community_gatherings_path(@community), class: 'button small', style: 'width: 100%'
    .small-2.columns.end
      .actions
        = f.submit t(:next, scope: [:common]), class: 'button small', style: 'width: 100%'

= render partial: 'shared/errors', locals: {resource: @gathering}
= render template: 'shared/bind_dates'
