%section
  .row
    .small-12.columns
      %h2= I18n.t(:title, scope:[:gatherings, :gather], name: @gathering.name)
      %h3= @meeting_datetime.to_formatted_s(:gathering)
      = render partial: 'shared/spacer'

      .row
        .small-12.columns
          - @gathering.members.each do |member|
            .row
              .small-2.columns.end
                - attendance_record = @gathering.attendance_records.for_member(member).for_datetime(@meeting_datetime).take
                - if attendance_record.blank?
                  = button_to "Present? #{member.abbreviated_name}", gathering_attendance_records_path(member_id: member.id, gathering_id: @gathering.id, datetime: @meeting_datetime), method: :post, class: 'button small expanded'
                - else
                  = button_to "Absent? #{member.abbreviated_name}", attendance_record_path(attendance_record), method: :delete, class: 'button small expanded secondary'

      = render partial: 'shared/spacer'
      .row
        .small-2.columns
          .actions
            = link_to "Prior Meeting", gather_gathering_path(@gathering, on: @gathering.prior_meeting(@meeting_datetime).to_s(:date)), class: 'button small expanded'
        .small-2.columns
          .actions
            = link_to t(:show, scope:[:common]), gathering_path(@gathering), class: 'button small', style: 'width: 100%'
        .small-10.columns.end
          .float-right
            = link_to t(:title, scope:[:gatherings]), community_gatherings_path(@community)
