%section
  .row
    .small-12.columns
      %h2= t(:title, scope: [:gatherings, :show], name: @gathering.name)

      = render partial: 'shared/spacer'
      .row
        .small-10.small-centered.columns.end
          %h3= @gathering.name
      .row
        .small-10.small-centered.columns.end
          %p= @gathering.description

      = render partial: 'shared/spacer'
      .row
        .small-10.small-centered.columns.end
          - Taggable::TAGS.each do |t|
            .row
              .small-3.columns
                = t(:title, scope: [:tags, t.pluralize])
              .small-9.columns
                = @gathering.send("#{t}_list").map{|i| t(i, scope: [:tags, t.pluralize])}.join(', ')

      - if @gathering.readable_by?(current_member, scope: :as_member)
        = render partial: 'shared/spacer'
        .row
          .small-10.small-centered.columns.end
            %h4 Overseers
            - @gathering.memberships.as_overseer.each do |membership|
              .row
                .small-4.columns= membership.member.full_name
                .small-3.columns= membership.member.email
                .small-3.columns= membership.member.phone
                .small-2.columns= membership.role.humanize
        .row
          .small-10.small-centered.columns.end
            %h4 Members
            - @gathering.memberships.as_member.each do |membership|
              .row
                .small-4.columns= membership.member.full_name
                .small-3.columns= membership.member.email
                .small-3.columns= membership.member.phone
                .small-2.columns= (membership.role || "").humanize

      = render partial: 'shared/spacer'
      .row
        - if @gathering.updatable_by?(current_member)
          .small-2.columns
            .actions
              = link_to t(:edit, scope:[:common]), edit_gathering_path(@gathering), class: 'button small expanded'
        - if @gathering.deletable_by?(current_member)
          .small-2.columns
            .actions
              = link_to t(:delete, scope:[:common]), gathering_path(@gathering), method: :delete, class: 'button small expanded'
        - if @gathering.updatable_by?(current_member)
          .small-2.columns
            .actions
              = link_to t(:button, scope:[:gatherings, :gather]), gather_gathering_path(@gathering), class: 'button small expanded'
          .small-2.columns
            .actions
              = link_to t(:button, scope: [:gatherings, :requests]), gathering_membership_requests_path(gathering_id: @gathering.id), class: 'button small expanded'
        - if !current_member.member_of?(@gathering)
          .small-2.columns
            .actions
              - request = current_member.membership_requests.for_gathering(@gathering).unexpired.take
              - if request.blank?
                = link_to t(:title, scope:[:membership_requests, :new]), new_gathering_membership_request_path(gathering_id: @gathering.id), class: 'button small expanded'
              - else
                = link_to t(:title, scope:[:membership_requests, :edit]), edit_membership_request_path(request), class: 'button small expanded'
        .small-2.columns.end
          .float-right
            = link_to t(:title, scope:[:gatherings]), community_gatherings_path(@community)
