%section
  .row
    .small-12.columns
      %h2= t(:title, scope: [:gatherings, :show], name: @gathering.name)

      = render partial: 'shared/spacer'
      .row
        .small-10.small-centered.columns.end
          %h3= @gathering.name
      .row
        .small-10.small-centered.columns.end
          %p= @gathering.description

      = render partial: 'shared/spacer'
      .row
        .small-10.small-centered.columns.end
          - @gathering.tag_sets.each do |tag_set|
            .row
              .small-3.columns
                = tag_set.plural
              .small-9.columns
                = @gathering.tags_from_set(tag_set).map{|t| t.to_s}.join(', ')

      - if @gathering.readable_by?(current_member, context: :as_member)
        = render partial: 'shared/spacer'
        .row
          .small-10.small-centered.columns.end
            %h4 Overseers
            = render partial: 'membership', collection: @gathering.assigned_overseers.map{|overseer| overseer.membership}
        .row
          .small-10.small-centered.columns.end
            %h4 Members
            = render partial: 'membership', collection: @gathering.memberships.as_member

      = render partial: 'shared/spacer'
      .row
        - if @gathering.updatable_by?(current_member)
          .small-2.columns
            .actions
              = button_to t(:button, scope:[:meetings, :create]), gathering_meetings_path(@gathering), method: :post, class: 'button small expanded'
          .small-2.columns
            .actions
              = link_to t(:button, scope: [:gatherings, :requests]), gathering_membership_requests_path(gathering_id: @gathering.id), class: 'button small expanded'
          .small-2.columns
            .actions
              = link_to "Attendance Report", attendance_gathering_reports_path(gathering_id: @gathering.id), class: 'button small expanded'
        - if !current_member.participant_in?(@gathering)
          .small-2.columns
            .actions
              - request = current_member.membership_requests.for_gathering(@gathering).unexpired.take
              - if request.blank?
                = link_to t(:title, scope:[:membership_requests, :new]), new_gathering_membership_request_path(gathering_id: @gathering.id), class: 'button small expanded'
              - else
                = link_to t(:title, scope:[:membership_requests, :edit]), edit_membership_request_path(request), class: 'button small expanded'
        .small-2.columns.end
          .float-right
            - if @gathering.updatable_by?(current_member)
              = link_to t(:edit, scope:[:common]), edit_gathering_path(@gathering)
              &nbsp; | &nbsp;
            = link_to t(:title, scope:[:gatherings]), community_gatherings_path(@community)
