- phrases = ["We meet", "We encourage", "We support", "We pray", "We laugh", "We worship", "We fit", "We serve", "We find our place in His place", "We are the Body"]
- sizes =   [30,         24,             20,           18,        16,         30,           20,       24,         20,                               36              ]
%body{style: "background-image:url('assets/worshipII.jpg'); background-repeat:no-repeat; background-size:auto 100%; margin:0; padding:0;"}
  %section.white{style: "padding-bottom:2em;"}
    = render 'shared/spacer'
    .row
      .small-6.small-offset-1.columns.gray-box{style: "margin-top:2em;"}
        .row
          .small-12.columns.small-centered
            %h1.text-center.size-60.light-gray{style: "font-weight: xbold; letter-spacing: 0.1em;"}= I18n.t :application, scope: [:common]
        - phrases.each_with_index do |phrase, i|
          .row.medium-gray
            .small-12.columns.small-centered.text-center
              %div{style: "line-height:1.4; font-size: #{sizes[i % sizes.length]}px"}= phrase
      .small-3.columns.end{style: "margin-top:2em; padding:2em 2em 0 2em;"}
        .text-center
          - if member_signed_in?
            = link_to I18n.t(:find, scope: [:welcome]), communities_path, class: 'button expanded hollow'
          - else
            = link_to I18n.t(:join, scope: [:welcome]), new_member_registration_path, class: 'button expanded hollow success'
        .text-center.size-12.light-gray
          - unless member_signed_in?
            = "Already a Member?"
            = link_to "#{I18n.t :signin, scope: [:common]}".html_safe, new_member_session_path, class: 'success-color'
  %section.white-background
    .row{style: "margin-top:3em; padding-top:2em; padding-bottom:3em;"}
      .small-10.columns.small-centered
        .row
          .small-12.columns
            %h1.size-24{style: "color: #353535;"}= "What is theGatherings?"
        .row{style: "color: #686868;"}
          .small-12.columns.size-16{style: "padding-left:2em; padding-right:2em;"}
            %p
              Sundays are great. You hear a good sermon. You worship with others. You learn. You grow. And you get recharged.
              For a while, then Monday comes. You're up early. The traffic's bad. Work, school, and life give you a beating.
            %p.lead
              Suddenly, Sunday seems a long time ago.
            %p
              But what if you could stay connected? What if others helped carry you during the week? What if you helped carry others?
              It sounds good. But connecting is hard. What's available? What's needed? How do you get engaged?
            %p.lead
              theGatherings helps fix that.
            %p
              It is a safe place where you can find others to connect with from your local church.
              It helps leaders know where needs are most pressing. It helps Gatherings keep their relationships grounded.
