- method = :post if method.blank?
= form_for(resource, as: resource_name, url: resource_path, method: method) do |f|
  .row
    .small-6.columns
      .field
        = f.label Member.human_attribute_name :first_name
        = f.text_field :first_name, autofocus: true
    .small-6.columns
      .field
        = f.label Member.human_attribute_name :last_name
        = f.text_field :last_name

  .row
    .small-6.columns
      .field
        = f.label Member.human_attribute_name :email
        = f.email_field :email

    .small-4.columns
      .field
        = f.label Member.human_attribute_name :phone
        = f.phone_field :phone

    .small-2.columns
      .field
        = f.label Member.human_attribute_name :postal_code
        = f.text_field :postal_code, maxlength: 5

  - unless member_signed_in?
    .row
      .small-6.columns
        .field
          = f.label Member.human_attribute_name :password
          = f.password_field :password
      .small-6.columns
        .field
          = f.label Member.human_attribute_name :password_confirmation
          = f.password_field :password_confirmation

  .row
    .small-2.columns
      .actions
        = f.submit t(:signup, scope: [:common]), class: 'button small radius'
    - unless member_signed_in?
      .small-10.columns.clearfix
        .right
          = render "devise/shared/links"

  = render partial: 'shared/errors', locals: {resource: resource}
