%head
  %title theGatherings
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  = stylesheet_link_tag 'application', media: :all #, 'data-turbolinks-track' => true
  = stylesheet_link_tag "http://code.jquery.com/ui/#{TheGatherings::Application.jquery_ui_version}/themes/smoothness/jquery-ui.css"
  %script{src: "//ajax.googleapis.com/ajax/libs/jquery/#{TheGatherings::Application.jquery_version}/jquery.min.js"}
  %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/#{TheGatherings::Application.jquery_ui_version}/jquery-ui.min.js"}
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"}
  = javascript_include_tag 'application' #, 'data-turbolinks-track' => true
  = csrf_meta_tags
  = yield :head
