= form_for @membership_request, url: url do |f|
  = f.hidden_field :member_id
  = f.hidden_field :gathering_id
  .row
    .small-12.columns.small-centered
      %h4= "Request to Join the '#{@gathering.name}'"

  = render 'shared/spacer'
  .row
    .small-10.small-centered.columns
      .field
        = f.label MembershipRequest.human_attribute_name :message
        = f.text_field :message

  = render 'shared/spacer'
  .row
    .small-2.columns
      .actions
        = link_to t(:cancel, scope: [:common]), gathering_path(@gathering), class: 'button small expanded'
    - if @membership_request.persisted?
      .small-2.columns
        .action
          = link_to t(:delete, scope: [:common]), membership_request_path(@membership_request), method: :delete, class: 'button small expanded'
    .small-2.columns.end
      .actions
        = f.submit t(:send, scope: [:common]), class: 'button small expanded'

= render partial: 'shared/errors', locals: {resource: @membership_request}
