%section
  .row
    .small-12.columns
      %h2= t(:title, scope: [:membership_requests, :show], name: @gathering.name)

      = render partial: 'shared/spacer'
      .row
        .small-12.small-centered.columns
          .row
            .small-4.columns= "Name"
            .small-2.columns= "Sent On"
            .small-2.columns= "Expires On"
            .small-2.columns.end= "Answered On"
          .row
            .small-4.columns
              = @member.full_name
            .small-2.columns
              = @membership_request.sent_on.to_formatted_s(:date)
            .small-2.columns
              = @membership_request.expires_on.to_formatted_s(:date)
            .small-2.columns.end
              = @membership_request.responded_on.to_formatted_s(:date) if @membership_request.responded_on.present?

      = render partial: 'shared/spacer'
      .row
        .small-12.small-centered.columns
          .row
            .small-2.columns.end
              %label Message
          .row
            .small-10.columns.end
              = @membership_request.message

      - if @gathering.updatable_by?(current_member)
        = render partial: 'shared/spacer'
        = form_for @membership_request, url: answer_membership_request_path(@membership_request), method: :post do |f|
          .row
            .small-10.columns.end
              .field
                %label Response
                = text_field_tag :answer, "Put Answer Here"
          .row
            .small-2.columns
              .actions
                = f.submit t(:answer, scope:[:common]), class: 'button small expanded'
            .small-2.columns
              .actions
                = button_to t(:accept, scope:[:common]), accept_membership_request_path(@membership_request), class: 'button small expanded'
            .small-2.columns.end
              .actions
                = button_to t(:dismiss, scope:[:common]), dismiss_membership_request_path(@membership_request), class: 'button small expanded'


      = render partial: 'shared/spacer'
      .row
        .small-2.columns
          .actions
            = link_to "Return to Requests", gathering_membership_requests_path(@gathering), class: 'button small expanded'
        .small-2.columns.end
          .actions
            = link_to "Return to Gathering", gathering_path(@gathering), class: 'button small expanded'
