- url = controller.send("#{@resource_type}_tags_path".to_sym)
%section
  .row
    .small-12.columns
      %h2= t("#{@mode}_title", scope: [:tags])
      = form_for(@resource, as: @resource_type, url: url, method: :patch) do |f|
        - @tag_sets.each do |tag_set|
          = render partial: 'shared/spacer'
          .row
            .small-10.small-centered.columns
              %h4= tag_set.prompt
              = render partial: 'shared/tags', locals: {form: f, tag_set: tag_set.name, resource: @resource, tags: tag_set.tags}

        = render partial: 'shared/spacer'
        .row
          .small-2.columns.end
            .actions
              = f.submit t(:next, scope: [:common]), class: 'button small', style: 'width:100%;'

      = render partial: 'shared/errors', locals: {resource: @resource}
