%section
  .row
    .small-10.columns.small-centered
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row
          .small-8.columns
            .field
              %div= f.label :email
              %div= f.email_field :email, autofocus: true
          .small-4.columns
            .field
              %div= f.label :password
              %div= f.password_field :password, autocomplete: "off"
        .row
          .small-3.columns
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me, checked: true
                = f.label :remember_me
          .small-2.small-offset-7.columns
            .actions
              = f.submit "Log in", class: 'button primary expanded radius'
        .row
          .small-12.columns
            = devise_error_messages!
        .row
          .small-12.columns
            .float-right
              %ul.menu.no-bullet.size-14
                - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
                  %li= link_to "Forgot your password?", new_password_path(resource_name)

                - if devise_mapping.confirmable? && controller_name != 'confirmations'
                  %li= link_to "Need confirmation instructions?", new_confirmation_path(resource_name)

                - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
                  %li= link_to "Need unlock instructions?", new_unlock_path(resource_name)

                - if devise_mapping.omniauthable?
                  - resource_class.omniauth_providers.each do |provider|
                    %li= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
