= form_for(resource, as: resource_name, url: resource_path, method: (method || :post)) do |f|
  .row
    .small-12.columns
      .field
        = f.label Gathering.human_attribute_name :name
        = f.text_field :name, autofocus: true
  .row
    .small-12.columns
      .fields
        = f.label Gathering.human_attribute_name :description
        = f.text_area :description

  = render 'shared/spacer'
  = render partial: 'shared/addressed', locals: {form: f, resource: resource}

  = render 'shared/spacer'
  .row
    .small-2.columns.end
      .actions
        = f.submit I18n.t(:next, scope: [:common]), class: 'button small radius'

  = render partial: 'shared/errors', locals: {resource: resource}
