%section
  .row
    .small-12.columns
      %h2= t(:title, scope: [:gatherings, :index], name: @community.name)

      = render partial: 'shared/spacer'
      .row
        .small-12.columns
          - @gatherings.each do |gathering|
            .row
              .small-5.columns
                = link_to gathering.name, community_gathering_url(@community, gathering)

      = render 'shared/spacer'
      .row
        .small-3.columns
          = link_to t(:title, scope:[:gatherings, :new]), community_gathering_step_url(@community, mode: :create), class: 'button small radius', style: 'width: 100%'
        .small-3.columns
          = link_to t(:button, scope:[:communities, :report]), community_report_url(@community), class: 'button small radius', style: 'width: 100%'
        .small-6.columns.clearfix
          .right
