%section
  .row
    .small-12.columns
      %h2= t(:title_html, scope: [:gatherings, @sequence_step])
      = render partial: 'shared/spacer'
      = form_for(@gathering, as: :gathering, url: community_gathering_complete_step_url(@community, @gathering, mode: params[:mode])) do |f|
        .row
          .small-10.small-centered.columns
            = render partial: 'shared/collection', locals: {form: f, resource_member: @collection_member, resource_list: @gathering.send(@collection_member), collection: @collection}

        = render partial: 'shared/spacer'
        .row
          .small-2.columns
            .actions
              = link_to t(:previous, scope: [:common]), community_gathering_step_url(@community, @gathering, mode: params[:mode], back: true), class: 'button small radius', style: 'width:100%;'
          .small-2.columns.end
            .actions
              = f.submit t(:next, scope: [:common]), class: 'button small radius', style: 'width:100%;'

        = render partial: 'shared/errors', locals: {resource: @gathering}
