= form_for @community do |f|
  .row
    .small-12.columns
      .field
        = f.label Community.human_attribute_name :name
        = f.text_field :name, autofocus: true

  = render 'shared/spacer'
  .row
    .small-4.columns
      .actions
        = f.submit I18n.t(:next, scope:[:common]), class: 'button small', style: 'width:100%'
    .small-8.columns.clearfix
      .float-right
        %ul.menu
          - if @community.persisted?
            %li= link_to I18n.t(:cancel, scope:[:common]), @community
          %li= link_to I18n.t(:title, scope:[:communities]), communities_path

  = render partial: 'shared/errors', locals: {resource: @community}
