%section
  .row
    .small-12.columns
      %h2= I18n.t(:title, scope: [:communities, :index])
      = render partial: 'shared/spacer'

      .row
        .small-12.columns
          - @communities.each do |community|
            .row
              .small-5.columns
                = link_to community.name, community_path(community)

      = render 'shared/spacer'
      .row
        .small-6.columns.clearfix
          .actions.left
            = link_to I18n.t(:title, scope: [:communities, :new]), new_community_path, class: 'button small'
        .small-6.columns.clearfix
          .float-right
