%section
  .row
    .small-12.columns
      %h2= t(:title, scope: [:communities, :report], name: @community.name)

      = render partial: 'shared/spacer'
      .row
        .small-10.small-centered.columns
          .row
            .small-12.columns
              %ul.tabs{id: :tabs, data: {tabs: true}}
                %li.tabs-title.is-active
                  = link_to "Age Groups", "#age_groups"
                %li.tabs-title
                  = link_to "Life Stages", "#life_stages"
                %li.tabs-title
                  = link_to "Relational Status", "#relationships"
                %li.tabs-title
                  = link_to "Gender Mix", "#genders"

          .row
            .small-12.columns
              .tabs-content{data: {tabs_content: "tabs"}}
                #age_groups.tabs-panel.is-active
                  .row
                    .small-12.columns
                      %canvas.chart{data: {chart: :age_groups}}
                  .row
                    .small-12.small-centered.columns
                      = t(:title, scope: [:charts, :age_groups])
                #life_stages.tabs-panel
                  .row
                    .small-12.columns
                      %canvas.chart{data: {chart: :life_stages}}
                  .row
                    .small-12.small-centered.columns
                      = t(:title, scope: [:charts, :life_stages])
                #relationships.tabs-panel
                  .row
                    .small-12.columns
                      %canvas.chart{data: {chart: :relationships}}
                  .row
                    .small-12.small-centered.columns
                      = t(:title, scope: [:charts, :relationships])
                #genders.tabs-panel
                  .row
                    .small-12.columns
                      %canvas.chart{data: {chart: :genders}}
                  .row
                    .small-12.small-centered.columns
                      = t(:title, scope: [:charts, :genders])

      = render partial: 'shared/spacer'
      .row
        .small-4.columns
          .actions.left
            = link_to t(:title, scope:[:gatherings, :new]), new_community_gathering_path(@community), class: 'button small'
        .small-6.columns.end
          .float-right
            = link_to t(:title, scope: [:gatherings]), community_path(@community)

= render template: 'shared/bind_charts'
