%section
  .row
    .small-12.columns
      %h2= t(:title, scope: [:communities, :report], name: @community.name)

      = render partial: 'shared/spacer'
      .row
        .small-12.columns
          %ul.tabs{id: :tabs, data: {tabs: true}}
            %li.tabs-title.is-active
              = link_to "Age Groups", "#age_groups"
            %li.tabs-title
              = link_to "Life Stages", "#life_stages"
            %li.tabs-title
              = link_to "Relational Status", "#relationships"
            %li.tabs-title
              = link_to "Gender Mix", "#genders"
            %li.tabs-title
              = link_to "Topics", "#topics"

      .row
        .small-12.columns
          .tabs-content{data: {tabs_content: "tabs"}}
            #age_groups.tabs-panel.is-active
              .row
                .small-12.columns
                  #age_group_chart.chart{data: {chart: :age_groups}}
            #life_stages.tabs-panel
              .row
                .small-12.columns
                  #life_stage_chart.chart{data: {chart: :life_stages}}
            #relationships.tabs-panel
              .row
                .small-12.columns
                  #relationship_chart.chart{data: {chart: :relationships}}
            #genders.tabs-panel
              .row
                .small-12.columns
                  #gender_chart.chart{data: {chart: :genders}}
            #topics.tabs-panel
              .row
                .small-12.columns
                  #topic_chart.chart{data: {chart: :topics}}

      = render partial: 'shared/spacer'
      .row
        .small-4.columns
          .actions.left
            = link_to t(:title, scope:[:gatherings, :new]), new_community_gathering_path(@community), class: 'button small'
        .small-6.columns.end
          .float-right
            = link_to t(:title, scope: [:gatherings]), community_path(@community)

= render template: 'shared/bind_charts'
:javascript
  theGatherings.Charts.gaps_data = #{@chart_data.to_json}
