%head
  %title theGatherings
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  = stylesheet_link_tag 'c3/c3.min.css', media: :all
  = stylesheet_link_tag 'application', media: :all #, 'data-turbolinks-track' => true
  = stylesheet_link_tag "http://code.jquery.com/ui/#{TheGatherings::Application.jquery_ui_version}/themes/smoothness/jquery-ui.css"
  = csrf_meta_tags
  :javascript
    var theGatherings = {
    }
  = yield :head
