- exclude_password = false if exclude_password.blank?
- method = resource.persisted? ? :patch : :post if method.blank?
= form_for(resource, as: :member, url: resource_path, method: method) do |f|
  .row
    .small-4.columns
      .field
        = f.label Member.human_attribute_name :first_name
        = f.text_field :first_name, autofocus: true
    .small-4.columns
      .field
        = f.label Member.human_attribute_name :last_name
        = f.text_field :last_name
    .small-4.columns
      .field
        .row
          .small-6.columns
            = f.radio_button :gender, :female
            = f.label "Female"
          .small-6.columns
            = f.radio_button :gender, :male
            = f.label "Male"

  .row
    .small-6.columns
      .field
        = f.label Member.human_attribute_name :email
        = f.email_field :email

    .small-4.columns
      .field
        = f.label Member.human_attribute_name :phone
        = f.phone_field :phone

    .small-2.columns
      .field
        = f.label Member.human_attribute_name :postal_code
        = f.text_field :postal_code, maxlength: 5

  - unless exclude_password
    .row
      .small-6.columns
        .field
          = f.label Member.human_attribute_name :password
          = f.password_field :password
      .small-6.columns
        .field
          = f.label Member.human_attribute_name :password_confirmation
          = f.password_field :password_confirmation

  .row
    .small-2.columns
      .actions
        = f.submit t(resource.persisted? ? :update : :signup, scope: [:common]), class: 'button small', style: 'width: 100%'
    - unless member_signed_in?
      .small-10.columns.clearfix
        .float-right
          = render "devise/shared/links"

  = render partial: 'shared/errors', locals: {resource: resource}
