- campuses = Campus.for_community(@community).for_member(current_member) if @community.present?
- gatherings = Gathering.for_campuses(campuses).for_member(current_member) if campuses.present?
- preferences = Preference.for_community(@community).for_member(current_member) if @community.present?
%section
  .row
    .small-12.columns.small-centered
      %h4 Your Membership
      = render partial: 'show', locals: {resource: @member, exclude_password: true}

  - if preferences.present?
    .row
      .small-12.columns.small-centered
        %h4 Your Preferences
        = render partial: 'tags/show', locals: {resource: preferences}

  - if campuses.present?
    = render partial: 'shared/spacer'
    .row
      .small-12.columns.small-centered
        %h4 Your Affiations
        - campuses.each_with_index do |campus, i|
          - if i > 0
            = ", "
          = link_to campus, campus_path(campus)

  - if gatherings.present?
    = render partial: 'shared/spacer'
    .row
      .small-12.columns.small-centered
        = I18n.t(:title, scope: [:gatherings])
    - gatherings.each do |gathering|
      .row
        .small-12.columns.small-centered
          = link_to gathering, gathering_path(gathering)

  = render partial: 'shared/spacer'
  .row
    - if @community.present?
      .small-3.columns
        = link_to t(:title, scope: [:campuses, :index]), community_campuses_path(@community), class: 'button small', style: 'width: 100%'
    -# - if Member.new.creatable_by?(current_member, community: @community)
    -#   .small-3.columns
    -#     = link_to t(:title_html, scope: [:welcome, :signup]), new_community_membership_path(@community), class: 'button small', style: 'width: 100%'
    - if current_member.active_member_of?(@community).present? && current_member.active_member_of?(@community).as_overseer?
      .small-3.columns
        = link_to t(:button, scope:[:communities, :report]), gap_community_reports_path(@community), class: 'button small', style: 'width: 100%'
    .small-3.columns
      .float-right
        - if @community.present?
          = link_to t(:edit, scope: [:common]), edit_community_path(@community)
          &nbsp; | &nbsp;
        = link_to t(:title, scope: [:communities]), communities_path
